<div class="d-flex alight-items-center justify-content-center">
  <h1>Welcome to the Tweet Scheduler</h1>
</div>

<%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>