<div class="d-flex alight-items-center justify-content-center">
  <h1>Welcome to the Tweet Scheduler</h1>
</div>
<% if @user %>
  Logged in as: <%= @user.email %>

  <%= button_to "Logout", logout_path, method: :delete %>
<% end %>
